name: Cache Workflow

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache/demo
          key: cache-5edcd6e

      - name: prime-cache-5edcd6e
        run: echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"
